@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand-red: #fe141f;
    --color-brand: #2563eb;
    --color-brand-hover: #1d4ed8;
    --color-brand-focus: #3b82f6;

    --color-footer-bg: #1f2937;
    --color-footer-text: #d1d5db;
    --color-footer-link-hover: #2563eb;
  }

  body {
    @apply font-sans; 
    @apply bg-white text-slate-800 antialiased;
  }
}


.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}